Desarrollo/lambda/resources/step_functions/01_parallelize_etls.asl.yaml
Comment: A description of my state machine
StartAt: Parallel
States:
  Parallel:
    Type: Parallel
    Next: Success
    Branches:
      - StartAt: reports request map
        States:
          reports request map:
            Type: Map
            Iterator:
              StartAt: etls map
              States:
                etls map:
                  Type: Map
                  Iterator:
                    StartAt: workflow_etl
                    States:
                      workflow_etl:
                        Type: Task
                        Resource: arn:aws:states:::states:startExecution.sync:2
                        Parameters:
                          StateMachineArn: >-
                            arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_etl
                          Input.$: $
                        ResultSelector:
                          PASS: OK
                        OutputPath: $.PASS
                        Next: Pass (1) 1
                      Pass (1) 1:
                        Type: Pass
                        End: true
                  ItemsPath: $.etl_list
                  Parameters:
                    etl_name.$: $$.Map.Item.Value
                    environment.$: $.environment
                    report_name.$: $.report_name
                    schema.$: $.schema
                    report_to.$: $.report_to
                    drop_workflow.$: $.drop_workflow
                    parametros.$: $.parametros
                  ResultSelector:
                    etl_res.$: $[1][*]
                  OutputPath: $.etl_res
                  MaxConcurrency: 40
                  Next: Pass 1
                Pass 1:
                  Type: Pass
                  End: true
            ItemsPath: $.reports_request
            Parameters:
              etl_list.$: $$.Map.Item.Value.etl_list
              environment.$: $$.Map.Item.Value.environment
              report_name.$: $$.Map.Item.Value.report_name
              schema.$: $$.Map.Item.Value.schema
              report_to.$: $$.Map.Item.Value.report_to
              parametros.$: $$.Map.Item.Value.parametros 
            ResultSelector:
              customer_res.$: $[1][*]
            MaxConcurrency: 40
            ResultPath: $.etls_results
            Next: Pass
          Pass:
            Type: Pass
            End: true
    Catch:
      - ErrorEquals:
          - States.ALL
        Next: Fail
    ResultSelector:
      parallell_res.$: $[*]
    ResultPath: $.parallell_res
  Success:
    Type: Succeed
  Fail:
    Type: Fail
