Desarrollo/lambda/resources/step_functions/02_etl.asl.yaml
Comment: A description of my state machine
StartAt: EJECUTAR ETL
States:
  EJECUTAR ETL:
    Type: Choice
    Choices:
      - Variable: $.etl_name
        StringMatches: delivery
        Next: DELIVERY ETAPA 1
      - Variable: $.etl_name
        StringMatches: local
        Next: LOCAL ETAPA 1
      - Variable: $.etl_name
        StringMatches: competencias
        Next: C ETAPA 1
      - Variable: $.etl_name
        StringMatches: locales_propios
        Next: LP ETAPA 1
    Comment: >-
      {       "schema": "pe",
      "drop_workflow": false,   "report_name": "dummy_customer",   "buffer_search":
      4000,   "etl_name": "gastos" }
  C ETAPA 1:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 1

        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name

      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Next: workflow_paralelize_workers (5)
    Comment: 'Retorna las 3 primeras intersecciones '
    ResultPath: $.etapa1
  workflow_paralelize_workers (5):
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa1.response.worker_tasks_list
    Next: C ETAPA 2
    ResultSelector:
      result.$: $.Output
      etapa: 1
    ResultPath: $.result_etapa1
  C ETAPA 2:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 2
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    Next: workflow_paralelize_workers (6)
    ResultPath: $.etapa2
  workflow_paralelize_workers (6):
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa2.response.worker_tasks_list
    ResultSelector:
      result.$: $.Output
      etapa: 2
    ResultPath: $.result_etapa2
    Next: OK
  LOCAL ETAPA 1:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 1
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Next: workflow_paralelize_workers  1
    Comment: 'Retorna las 3 primeras intersecciones '
    ResultPath: $.etapa1
  workflow_paralelize_workers  1:
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa1.response.worker_tasks_list
    Next: LOCAL ETAPA 2
    ResultSelector:
      result.$: $.Output
      etapa: 1
    ResultPath: $.result_etapa1
  LOCAL ETAPA 2:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 2
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    Next: workflow_paralelize_workers (1)
    ResultPath: $.etapa2
  DELIVERY ETAPA 1:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 1

        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Next: workflow_paralelize_workers
    Comment: 'Retorna las 3 primeras intersecciones '
    ResultPath: $.etapa1
  workflow_paralelize_workers:
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa1.response.worker_tasks_list
    Next: DELIVERY ETAPA 2
    ResultSelector:
      result.$: $.Output
      etapa: 1
    ResultPath: $.result_etapa1
  DELIVERY ETAPA 2:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 2
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
        
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    Next: workflow_paralelize_workers (2)
    ResultPath: $.etapa2
  workflow_paralelize_workers (2):
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa2.response.worker_tasks_list
    ResultSelector:
      result.$: $.Output
      etapa: 2
    ResultPath: $.result_etapa2
    Next: DELIVERY ETAPA 3
  DELIVERY ETAPA 3:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 3
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    Next: OK
    ResultPath: $.etapa2
  OK:
    Type: Pass
    Next: Success
    Result:
      SALIDA: OK
    OutputPath: $.SALIDA
  Success:
    Type: Succeed
  workflow_paralelize_workers (1):
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa2.response.worker_tasks_list
    ResultSelector:
      result.$: $.Output
      etapa: 2
    ResultPath: $.result_etapa2
    Next: LOCAL ETAPA 3
  LOCAL ETAPA 3:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 3
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name

      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    ResultPath: $.etapa3
    Next: workflow_paralelize_workers (4)
  workflow_paralelize_workers (4):
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa3.response.worker_tasks_list
    ResultSelector:
      result.$: $.Output
      etapa: 3
    ResultPath: $.result_etapa3
    Next: LOCAL ETAPA 4
  LOCAL ETAPA 4:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 4
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        buffer_search.$: $.buffer_search
        etl_name.$: $.etl_name
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    ResultPath: $.etapa3
    Next: OK
  LP ETAPA 1:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 1
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        etl_name.$: $.etl_name
        buffer_search:
          - 0
        
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: 'Retorna las 3 primeras intersecciones '
    ResultPath: $.etapa1
    Next: workflow_paralelize_workers (7)
  workflow_paralelize_workers (7):
    Type: Task
    Resource: arn:aws:states:::states:startExecution.sync:2
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:958531303673:stateMachine:workflow_${self:custom.stage}_${self:service}_parallelize_workers
      Input:
        worker_tasks_list.$: $.etapa1.response.worker_tasks_list
    ResultSelector:
      result.$: $.Output
      etapa: 1
    ResultPath: $.result_etapa1
    Next: LP ETAPA 2
  LP ETAPA 2:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      Payload:
        stage: 2
        input.$: $
        schema.$: $.schema
        drop_workflow.$: $.drop_workflow
        report_name.$: $.report_name
        etl_name.$: $.etl_name
        buffer_search:
          - 0
        
      FunctionName: arn:aws:lambda:us-east-1:958531303673:function:${self:service}-${self:custom.stage}-etl
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    ResultSelector:
      response.$: $.Payload.response
    Comment: Tabla final del etl
    ResultPath: $.etapa2
    Next: OK
