Desarrollo/StepFunctions/etl/consolidacion/maquina_consolidacion_inputs.json
{
    "Comment": "A description of my state machine",
    "StartAt": "customers map",
    "States": {
        "customers map": {
            "Type": "Map",
            "Iterator": {
                "StartAt": "country map",
                "States": {
                    "country map": {
                        "Type": "Map",
                        "Next": "Pass (1)",
                        "Iterator": {
                            "StartAt": "buffer map",
                            "States": {
                                "buffer map": {
                                    "Type": "Map",
                                    "Next": "Pass (2)",
                                    "Iterator": {
                                        "StartAt": "Lambda Invoke",
                                        "States": {
                                            "Lambda Invoke": {
                                                "Type": "Task",
                                                "Resource": "arn:aws:states:::lambda:invoke",
                                                "OutputPath": "$.Payload.status",
                                                "Parameters": {
                                                    "Payload.$": "$",
                                                    "FunctionName": "arn:aws:lambda:us-east-1:958531303673:function:reporte-canibalizacion-dev-consolida-etl"
                                                },
                                                "End": true
                                            }
                                        }
                                    },
                                    "ItemsPath": "$.buffer_list",
                                    "Parameters": {
                                        "customer_name.$": "$.customer_name",
                                        "country_name.$": "$.country_name",
                                        "buffer.$": "$$.Map.Item.Value",
                                        "drop_workflow.$": "$.drop_workflow"
                                    },
                                    "ResultSelector": {
                                        "buffer_res.$": "$[*]"
                                    },
                                    "OutputPath": "$.buffer_res"
                                },
                                "Pass (2)": {
                                    "Type": "Pass",
                                    "End": true
                                }
                            }
                        },
                        "ItemsPath": "$.country_list",
                        "Parameters": {
                            "customer_name.$": "$.customer_name",
                            "country_name.$": "$$.Map.Item.Value",
                            "buffer_list.$": "$.buffer_list",
                            "drop_workflow.$": "$.drop_workflow"
                        },
                        "ResultSelector": {
                            "country_res.$": "$[*]"
                        },
                        "OutputPath": "$.country_res"
                    },
                    "Pass (1)": {
                        "Type": "Pass",
                        "End": true
                    }
                }
            },
            "Catch": [{
                "ErrorEquals": [
                    "States.ALL"
                ],
                "ResultPath": "$.customer_error",
                "Next": "Fail"
            }],
            "ItemsPath": "$.customer_list",
            "Parameters": {
                "customer_name.$": "$$.Map.Item.Value.customer_name",
                "country_list.$": "$$.Map.Item.Value.country_list",
                "buffer_list.$": "$$.Map.Item.Value.buffer_list",
                "drop_workflow.$": "$$.Map.Item.Value.drop_workflow"
            },
            "ResultSelector": {
                "customer_res.$": "$[*]"
            },
            "OutputPath": "$.customer_res",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail"
        }
    }
}